<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735161977049-eum8m44b7ehq1unpjk3l8sibpqh50c2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735161977049-eum8m44b7ehq1unpjk3l8sibpqh50c2m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>735161977049-d184aem3huqf80r6lq448hplg2dok1t8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC19wiqoF4DgKnHqdxxEXexiXHxEaqQOmA</string>
	<key>GCM_SENDER_ID</key>
	<string>735161977049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grad</string>
	<key>PROJECT_ID</key>
	<string>mojo-7da96</string>
	<key>STORAGE_BUCKET</key>
	<string>mojo-7da96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735161977049:ios:c0df7e61571885a8be56c8</string>
</dict>
</plist>